html
	head
		title 4Z Docs
		link(rel="stylesheet" href="help.css" type="text/css")
		link(rel="icon" href="Zilog_r.png" type="image/png")
	body(style="background-color: #111;")
		h1 4Z Docs
		h2(class="h2-cheader") 1. COMMENTS
		p 4Z supports both single- and multi-line comments. Single-line comments can be notated using either a semicolon (;) or two forward slashes (//), as in JavaScript. Multi-line comments also use the JS format (/* ... */).
		p <code class="global-c"><span class="c-com">; Single-line comment.<br>//Single-line comment.<br>/*<br>  Multi-line comment.<br>*/</code>
		h2(class="h2-cheader") 2. TYPES
		h3 byte
		p As you would expect, bytes are simply raw, unsigned 8-bit values. They cannot assume a value lower than 0 or higher than 255. As with all number types in 4Z, they can be assigned with hex, decimal, or binary notation.
		p <code class="global-c"><span class="c-type">byte</span> lives = <span class="c-num">3</span><br><span class="c-type">byte</span> lives = <span class="c-num">0x03</span><br><span class="c-type">byte</span> lives = <span class="c-num">03h</span><br><span class="c-type">byte</span> lives = <span class="c-num">$03</span><br><span class="c-type">byte</span> lives = <span class="c-num">%00000011</code>
		h3 sbyte
		p Same as byte, but signed
		p <code class="global-c"><span class="c-type">sbyte</span> diff = <span class="c-num">-0x30</span></code>
		h3 int
		p The standard int type represents an <strong>unsigned</strong> 16-bit integer.
		p <code class="global-c"><span class="c-type">int</span> EXP = <span class="c-num">20000 </span><span class="c-com">; Hex and bin also work here, as before.</span></code>
		h3 sint
		p This type represents a <strong>signed</strong> 16-bit integer.
		p <code class="global-c"><span class="c-type">sint</span> min_sint = <span class="c-num">-0x8000</span></code>
		//-
			div(class="center" style="height: 50%;")
				img(src="ss/config.png" style="height: 100%;")
			h3 Download Config Template
			p Downloads a template Z80 Studio configuration file (with comments). Configuration files can be imported with the <span style="color: blue;">Import Config</span> option.
			div(class="center" style="height: 35%;")
				img(src="ss/template_wcomments.png" style="height: 100%;")