html
	head
		title Z80 Stdio Help
		link(rel="stylesheet" href="help.css" type="text/css")
	body(style="background-color: black;")
		h1 Z80 Stdio Help
		br
		-
			var clrhomeLink = "<span><a style='cursor: hand;' onclick='window.open(\"https://clrhome.org/table/\")'><u>Z80 Instruction Set</u></a></span>";
		p Some helpful links:
		ul
			li !{clrhomeLink}

